@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.bg{
  background: url('https://images.pexels.com/photos/12468389/pexels-photo-12468389.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') 
  no-repeat center center/cover;
  position: absolute;
  top: -30;
  left: -30;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  z-index: -1;
  filter: blur(100px);
}

.loading-text{
  background: none;
  font-size: 50px;
  color: #fff;
}