@import url('https://fonts.googleapis.com/css?family=Mulidisplay=swap');

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right top, #b680fb, #c4a2ff, #d5c2ff, #e8e1ff, #ffffff);
  font-family: 'Muli', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

div{
  position: absolute;
  bottom: 20px;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  font-size: 18px;
}

input{
  width: 50px;
  padding: 5px;
  font-size: 18px;
  background-color: #c4a2ff;
  border: none;
  text-align: center;
}

input:focus{
  outline: none;
}